<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: head('Uniza Studio - Správa používateľov',true)"></div>
    <body class="bg-light">
        <div th:replace="fragments/header :: header"></div>
        <main class="container my-4">
            pridať techniku
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/logged_in.js}"></script>
        <script>
        </script>
    </body>
</html>
