<!-- home.html -->
<style></style>

<section>
   <div id="carousel"></div>
   <div id="welcome_logo"></div>
   <div id="base_categories"></div>
   <div id="no_account"></div>
   <div id="faq"></div>
   <div id="footer"></div>
</section>

<script>
   loadComponent("header", "components/global_components/header.html");
   loadComponent("carousel", "components/home_components/carousel.html");
   loadComponent("welcome_logo", "components/home_components/welcome_logo.html");
   loadComponent("base_categories", "components/home_components/base_categories.html");
   loadComponent("no_account", "components/home_components/no_account.html");
   loadComponent("faq", "components/home_components/faq.html");
   loadComponent("footer", "components/global_components/footer.html");
</script>
