<section th:fragment="contact_form">
   <div class="container mb-4">
      <h2 class="text-center text-dark mb-4">Kontaktné info a formulár</h2>
      <div class="row">
         <div class="col-md-6 pt-5">
            <h4 class="mb-4">Kontaktné informácie</h4>
            <p><strong>Adresa:</strong> Univerzitný bunker, Vysokoškolákov 26, 010 01 Žilina-Vlčince</p>
            <p><strong>Telefónny kontakt:</strong> +421 432 342 543</p>
            <p><strong>Emailový kontakt:</strong> avstudio@uniza.sk</p>
            <p>V prípade akýchkoľvek otázok neváhajte nás kontaktovať!</p>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1733240728888!6m8!1m7!1sCAoSLEFGMVFpcE1rNzh0V0pVLTFjRGZzZWk3WVNXX01aQUhGTmtBSjBqejUyVVM4!2m2!1d49.20929967745744!2d18.75591488392998!3f258.0952727316278!4f6.529877863686778!5f0.7820865974627469"
                    width="100%"
                    height="250"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
         </div>

         <div class="col-md-6 pt-5">
            <h4 class="mb-4">Napíšte nám pripomienku</h4>
            <form id="suggestionForm" th:action="@{/sendSuggestion}" method="post">
               <div class="row">
                  <div class="col-md-6 mb-3">
                     <label for="name" class="form-label">Meno</label>
                     <input type="text" class="form-control" id="name" name="name" placeholder="Meno" required />
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="email" class="form-label">Email</label>
                     <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                  </div>
               </div>
               <div class="mb-3">
                  <label for="subject" class="form-label">Predmet</label>
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Predmet" required />
               </div>
               <div class="mb-3">
                  <label for="message" class="form-label">Pripomienka</label>
                  <textarea class="form-control" id="message" name="message" rows="6" placeholder="Tu napíšte vašu pripomienku" required></textarea>
               </div>
               <button type="submit" class="btn btn-primary">Odoslať</button>
            </form>
         </div>
      </div>
   </div>
</section>
