<!-- welcome_logo.html -->
<style></style>

<section>
   <div class="container my-5">
      <h2 class="mb-4">Často kladené otázky (FAQ)</h2>
      <div class="accordion" id="faqAccordion">
         <!-- Prvá otázka -->
         <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
               <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
               >
                  Ako dlho trvá, kým bude moja rezervácia techniky schválená?
               </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
               <div class="accordion-body">
                  Schválenie rezervácii techniky realizuje administrátor a odpoveď zvykne príjsť mailom najneskôr do 2 pracovných dní.
               </div>
            </div>
         </div>

         <!-- Druhá otázka -->
         <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
               <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
               >
                  Kedy si môžem po techniku príjsť?
               </button>
            </h2>

            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
               <div class="accordion-body">
                  Vyzdvihnúť techniku si môžete v čase, ktorý vám príde mailom po úspešnom schválení rezervácie danej techniky
                  administrátorom.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script></script>
