<!-- welcome_logo.html -->
<style></style>

<section>
   <div class="container-fluid bg-light">
      <div class="card shadow-sm">
         <img
            src="images/home/welcome_logo/school.svg"
            class="card-img-top img-fluid mx-auto d-block"
            style="width: 40%; height: auto"
            alt="Požičovňa AV Techniky"
         />

         <div class="card-body text-center">
            <h5 class="card-title fs-1" style="text-transform: uppercase">Uniza Studio</h5>
            <p>Požičovňa AV techniky pre Žilinskú Univerzitu</p>
         </div>
      </div>
   </div>
</section>

<script></script>
