<!-- password_change_modal.html -->
<style></style>

<section>
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content" style="background-color: #0b2e4c; color: white">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Zmena hesla</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form id="changePasswordForm">
                  <label for="password" class="form-label">Aktuálne heslo</label>
                  <input
                     type="password"
                     class="form-control"
                     id="current_password"
                     name="current_password"
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$"
                     title="Heslo musí obsahovať min. 8 znakov vrátane aspoň 1 malého písmena, 1 veľkého písmena a 1 špeciálneho znaku."
                     required
                  />

                  <label for="password" class="form-label">Nové heslo</label>
                  <input
                     type="password"
                     class="form-control"
                     id="new_password"
                     name="new_password"
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$"
                     title="Heslo musí obsahovať min. 8 znakov vrátane aspoň 1 malého písmena, 1 veľkého písmena a 1 špeciálneho znaku."
                     required
                  />
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" id="hide_modal_button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
               <button type="button" onclick="changePassword()" class="btn btn-primary">Zmeniť heslo</button>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   changePassword = () => {};
</script>
