<!-- login_form.html -->
<style>
   .bg-dark {
      background-color: #143956 !important;
      color: #fff !important;
   }

   .btn-uniza {
      background-color: #ffffff;
      border: 2px solid #1d3557;
      color: #1d3557;
      padding: 8px 20px;
   }

   .btn-uniza:hover {
      background-color: #1d3557;
      color: #ffffff;
   }

   .btn-uniza-filled:hover {
      background-color: #ffffff;
      border: 2px solid #1d3557;
      color: #1d3557;
   }

   .btn-uniza-filled {
      background-color: #1d3557;
      border: 2px solid #1d3557;
      color: #ffffff;
      padding: 8px 20px;
   }
</style>

<section class="py-5">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="card shadow" style="max-width: 600px; margin: auto">
               <div class="card-header bg-dark text-white text-center py-3">
                  <h3 class="mb-0">Prihlásenie</h3>
               </div>
               <div class="card-body bg-white p-4">
                  <form method="POST" id="loginForm">
                     <div class="mb-3">
                        <label for="unizaEmail" class="form-label">Email (školský)</label>
                        <input
                           type="email"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="example@stud.uniza.sk"
                           pattern="^[a-zA-Z0-9._%+\-]+@(stud\.uniza\.sk|uniza\.sk)$"
                           title="Email musí končiť na @uniza.sk alebo na @stud.uniza.sk"
                           required
                        />
                     </div>
                     <div class="mb-3">
                        <label for="password" class="form-label">Heslo</label>
                        <input
                           type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$"
                           title="Heslo musí obsahovať min. 8 znakov vrátane aspoň 1 malého písmena, 1 veľkého písmena a 1 špeciálneho znaku."
                           required
                        />
                     </div>

                     <button type="submit" onclick="loginUser(event)" class="btn btn-uniza">Prihlásiť sa</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   loginUser = (event) => {
      event.preventDefault();
      const form = document.getElementById("loginForm");

      // Kontrola, či je formulár platný (HTML5 validácia)
      if (!form.checkValidity()) {
         form.reportValidity();
         return;
      }

      const user = {
         email: document.getElementById("email").value,
         password: document.getElementById("password").value,
      };

      console.log("Používateľ na prihlásenie:", user);
   };
</script>
