/* Univerzálne CSS */

/* (navbar v hlavičke) */
.bg-dark {
   background-color: #143956 !important;
   color: #fff !important;
}

/* (tématický button na bielom pozadí upravené štýly) */
.btn-uniza {
   background-color: #ffffff;
   border: 2px solid #1d3557;
   color: #1d3557;
   padding: 8px 20px;
}

.btn-uniza:hover {
   background-color: #1d3557;
   color: #ffffff;
}

.btn-uniza-filled:hover {
   background-color: #ffffff;
   border: 2px solid #1d3557;
   color: #1d3557;
}

.btn-uniza-filled {
   background-color: #1d3557;
   border: 2px solid #1d3557;
   color: #ffffff;
   padding: 8px 20px;
}

/* index.html CSS */
#UnizaCarousel img {
   min-height: 150px;
}

/* about.html CSS */
.text-dark {
   color: #143956 !important;
}
