<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Root</title>
   <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />
   <link th:href="@{/css/bs/bootstrap.min.css}" rel="stylesheet">
   <link th:href="@{/css/fa/all.min.css}" rel="stylesheet">
   <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<!-- Dynamické načítanie headera z `components/global_components/` -->
<div th:replace="components/global_components/header :: header"></div>
<div th:replace="${content}"></div>

<script th:src="@{/js/bs/bootstrap.bundle.min.js}"></script>
</body>
</html>
