<section th:fragment="carousel" id="UnizaCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
   <div class="carousel-inner">
      <div th:each="i : ${#numbers.sequence(1,7)}" th:classappend="${i == 1} ? 'carousel-item active' : 'carousel-item'">
         <img th:src="@{/images/home/carousel/carousel_{i}.jpg(i=${i})}" class="d-block w-100" th:alt="'Image ' + ${i}" />
      </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#UnizaCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#UnizaCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>
</section>
