<!-- user_conditions.html -->
<style></style>

<section class="bg-light py-5">
   <!-- Modal -->
   <div class="modal fade" id="userConditions" tabindex="-1" aria-labelledby="userConditionsLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="userConditionsLabel">Podmienky používania</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod animi hic eius unde commodi, rem quis placeat, dicta impedit
               nostrum doloremque. Eligendi nostrum, dolorem magni adipisci, consequatur, aliquam delectus itaque quisquam ea recusandae
               quis assumenda molestias tempora quo temporibus veniam ducimus! Corporis eveniet modi omnis possimus minima magni vitae eaque
               quod voluptates vel, consequuntur perspiciatis illo quis? Maxime reprehenderit qui aspernatur ex obcaecati dignissimos ut, ad
               quibusdam voluptatibus illo quae nisi nihil culpa similique, ducimus harum deleniti porro perferendis debitis molestiae ullam
               veniam aut magnam mollitia? Optio assumenda iure sit sed aperiam quae, alias quos doloribus est soluta neque molestiae
               asperiores natus dolor dignissimos impedit debitis tempora, harum exercitationem ratione dolore cupiditate! Consequuntur,
               quisquam, odit sed illo qui deleniti deserunt, cupiditate quo quos nam blanditiis. Labore quae molestiae perspiciatis
               perferendis minus neque, ipsam quam adipisci nam, rem fugit, qui similique enim doloremque quidem! Quos nesciunt consectetur
               quia, atque ex laboriosam necessitatibus quaerat, perspiciatis magni corporis alias vel. Maiores ipsa placeat ratione
               repudiandae quisquam ex ut blanditiis deserunt quidem iure vel facilis temporibus dolore, illum cumque saepe numquam, hic
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušiť</button>
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
         </div>
      </div>
   </div>
</section>

<script></script>
