<!-- filter.html -->
<style></style>

<section>
   <div class="container mt-4">
      <div class="btn-group me-3" role="group" aria-label="Basic checkbox toggle button group">
         <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" checked />
         <label class="btn btn-outline-success" for="btncheck1">Audio</label>

         <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" />
         <label class="btn btn-outline-success" for="btncheck2">Video</label>
      </div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
         <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" checked />
         <label class="btn btn-outline-danger" for="btncheck1">Slúchadlá</label>

         <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" checked />
         <label class="btn btn-outline-danger" for="btncheck2">Mikrofóny</label>

         <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" />
         <label class="btn btn-outline-danger" for="btncheck2">Audio káble</label>
      </div>

      <div class="input-group mb-3 mt-3">
         <button class="btn btn-outline-secondary" type="button" id="button-addon1" disabled>Vyhľadávanie</button>
         <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
         />
      </div>
      <hr />
   </div>
</section>

<script></script>
